@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    align-items: center;
    padding: var(--navbar-padding, 0.5rem /* 8px */);
    min-height: 3rem /* 64px */;
    width: 100%;
}
.modal-action {
    display: flex;
    margin-top: 10px /* 24px */;
    justify-content: flex-end;
}
.rotate_text {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.-translate-x-full {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 155 px;
    overflow-y: auto;
    padding: 35px;
}

.ck-editor__editable[role="textbox"] {
    /* Editing area */
    /* min-height: 200px; */
    padding: 35px;
}

@media (min-width: 768px) {
    .main.active {
        margin-left: 0px;
        width: 100%;
    }
    #pol {
        display: none;
    }
    .alphabet {
        display: block;
        visibility: hidden;
    }
    .alphabet:first-letter {
        visibility: visible;
    }
}
